.sidebar {
  // position: fixed;
  background-color: lighten(#000, 20%);
}

.menu {
  display: none;
  color: #FFF;
  font-family: $navbar-font;
  font-size: $size-fontParagraph;

  svg {
    width: 8px;
    height: 8px;
    fill: #60b4e4;
    margin-left: -45px;
    transform: translateY(1px);
  }

  p {
    margin: 0;
  }
}

.show {
  display: block;
}

.title-menu {
  font-family: $brand-font;
  color: #FFF;
  font-size: 12px;
  position: fixed;
  margin-bottom: 20px;
  font-weight: 200;
}

.hamburger {
  color: #FFF;
  font-size: 10px;
  margin-left: 10px;
}

.nav-bar {
  margin-top: 15px;
  position: fixed;
}

.nav-bar-nav {
  margin-top: 15px;
  list-style-type: none;
  line-height: 20px;
}

.navbar-item {
  line-height: 20px;
}

.nav-item-link {
  text-decoration: none;
  color: #FFF;
  margin-left: 6px;
  letter-spacing: 1px;
  font-size: $size-fontParagraph;
}

.menager {
  position: fixed;
  margin-top: 190px;
  color: #60b4e4;
  letter-spacing: 1px;
}

.menager-name {
  font-size: 10px;
  color: #60b4e4;
  margin-left: 10px;
  font-family: $navbar-font;
  letter-spacing: 1px;
}

.img-sidebar {
  margin-left: -6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translateY(10px);
}

.top-bar-sidebar {
  position: fixed;
  margin-top: 280px;
  margin-left: 35px;
  line-height: 25px;

  svg {
    width: 12px;
    height: 12px;
    transform: translateY(2px);
  }
}

.wallet {
  select {
    margin-left: 10px;
  }
}

.profile {
  a {
    margin-left: 4px;
    color: #FFF;
    text-decoration: none;
    letter-spacing: .8px;
  }
}

.notifications {
  text-align: center;
}

.quit {
  text-align: center;
}
