.general, .links {
  background-color: #FFF;
  margin-right: -40px;
}

.section-title {
  font-size: 12px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 10px;
}

canvas {
  // background-color: #FFF;
}
